.detail {
  text-align: center;
  background-color: #8175a8;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: azure;
  margin: 20px;
  padding: 20px;
}
.iframe {
  margin: auto;
  min-height: 50vh;
  display: flex;
  width: 100vh;
  height: 100vh;
  max-width: 100%;
  border-radius: 20px;
}
