.main {
  text-align: center;
  background-color: #8175a8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: azure;
}
.main p {
  margin-top: 20px;
}
.main-link {
  cursor: pointer;
  color: #75dbf7;
}
