.navbar {
  background-color: #353b48 !important;
}
.navlink {
  text-decoration: none !important;
  color: white;
}
.activeLink {
  font-weight: bolder;
  text-decoration: underline;
}
.MuiMenu-paper {
  background-color: #2f3640 !important;
}
