.restaurants {
  text-align: center;
  background-color: #8175a8;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: azure;
}
ul {
  list-style-type: none;
  font-size: calc(10px + 1vmin);
}
li {
  margin: 10px;
}
img {
  float: left;
  width: 50px;
  height: 50px;
  object-fit: contain;
}
